.header {
    height: 100px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 30px 0 150px;
    border-bottom: 1px solid #D1CBE8;

    &-left {
        flex: 1;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        &--search {
            outline: none;
            padding: 10px;
            margin: 0 20px;
            color: #a4a1b5;
            font-size: 20px;
            width: 100%;
            border: none;
        }

        &--icon {}
    }

    &-right {
        display: flex;
        justify-content: center;
        align-items: center;

        & :not(:first-child) {
            margin-left: 20px;
        }

        .notification {
            height: 50px;
            width: 50px;
            border-radius: 100%;
            border: 1px solid #D1CBE8;
            display: flex;
            justify-content: center;
            align-items: center;

            &-icon {
                color: #838194;
            }
        }

        .avatar {
            height: 50px;
            object-fit: contain;
            border-radius: 100%;
        }

        .avatar-name {}

        .chevron-down {}
    }
}